<div id="output">
	<%= partial('ascii') %>
</div>

<div id="input" style="display: block;width:80%;">
	<form action="" class="cmdline" onsubmit="return false;" name="f">
		<div class="prompt" id="prompt">guest@twitter.com:/></div>
		<div class="inputcommand" style="overflow:hidden;">
			<input type="text" value="" autocomplete="off" class="cmdline" name="q" id="inputfield"  />
		</div>
	</form>
</div>
