body,p,a,td{
	color:rgb(153, 153, 153);
	font-family:courier,fixed,swiss,sans-serif;
	font-size:12px;
	background-color: #222222;
}

a,a:link,a:visited {
	text-decoration: none;
	color: #77dd11;
}
a:hover {
	text-decoration: underline;
	color: #77dd11;
}
a:active {
	text-decoration: underline;
	color: #dddddd;
}




fieldset, img {
	border-color:transparent;
	border-width:0;
}
.container{
	margin-left:30px;
}
.term {
	font-family: courier,fixed;
	font-size: 12px;
	color: #33d011;
	background: none;
}

.termReverse {
	font-family: courier,fixed;
	font-size: 12px;
	color: #111111;
	background: #33d011;
}

.grey {
	font-family: courier,fixed;
	font-size: 12px;
	color: #999999;
}

#input {
	overflow:hidden;
	width:400px;
	margin-left:8px;
}

#output {
	margin-left:8px;
	margin-top:8px;
	width:850px;
}

#output .sexy{
	color:#666666;
}

#output span.commands{
	color:#CCFFAA;
}

#output .error{
	color:#Fe6353;
}

input.cmdline {
	border:0 none;
	font-family: courier,fixed;
	font-size:12px;
	margin:0;
	padding:0;
	width:90%;
	background-color: #222222;
	color:#CCFFAA;
	padding-left:5px;
}


div.prompt {
	display:inline;
	margin:0;
	padding:0;
	white-space:nowrap;
	float:left;
	color:#666666;
}


#output span.dir{
	padding-right:30px;
}

/** listing tweets **/
ol.statuses {
	font-size:12px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

ol.statuses li.status, ol.statuses li.direct_message {
	line-height:16px;
	width:700px;
}


ol.statuses li.status, ol.statuses li.direct_message {
	line-height:16px;
	padding:10px 0 8px;
	position:relative;
	border-bottom:1px solid;
}

ol.statuses .thumb {
	display:block;
	height:50px;
	left:0;
	margin:0 10px 0 0;
	overflow:hidden;
	position:absolute;
	width:50px;
}

ol.statuses .thumb img {
	height:48px;
	width:48px;
}

ol.statuses span.status-body {
	display:block;
	margin-left:56px;
	min-height:48px;
	overflow:hidden;
	width:625px;
}

 li .meta, li .actions-hover {
	height:auto;
}

.meta {
	color:#999999;
	display:block;
	font-size:11px;
}
.entry-meta {
	margin-top:2px;
}


.welcome{
	margin-left:8px;
	margin-top:20px;
	width:700px;
}

.welcome h1 {
	color:#CCCCCC;
	font-family:courier,fixed,swiss,sans-serif;
	font-size:16px;
}
.lh13 {
	line-height:13px;
	color:#CCCCCC;
	font-family:courier,fixed,swiss,sans-serif;
	font-size:12px;	
}

pre {
	color:#CCFFAA;
	font-family:courier,fixed,swiss,sans-serif;
	font-size:12px;
	line-height:15px;
}

span.cool{
	color:#CCCCCC;
}

span.code{
	color:#CCFFAA;
}

ul.notes li {
	line-height:13px;
	padding-bottom:6px;
}

table.help{
	border:1px dashed;
	border-right:0px dashed;
}

.help td {
	font-size:12px;
	padding-right:25px;
	border-right:1px dashed;
}

.help td.less{
	border-bottom:1px dashed;
}

.help_header {
	background-color:#2786C2;
}


ul.friends_dir{
	width:100%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

ul.friends_dir li{
	float:left;
	padding-right:30px;
	padding-bottom:10px;
	width:70px;
}